.more_comments {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    /* position: absolute; */
}

.more_comments:hover {
    cursor:pointer;
    font-size: 14px;
    text-decoration:underline;
    text-underline-offset:3px;
}

.more_comments_board {
    background: #dcdcdc;
    /* background-color: #dcdcdc; */
    position: absolute;
    left: 20px;
    height: 335px;
    width: 256px;               /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! 這個切版要注意 */
    border-radius: 5px;         /* 我是用 left:20px 不然 infoboard會歪掉 */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    border:2px solid #393E41;
    transition-property: top;
    transition-duration: 1.5s ;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #393E41;
    box-shadow: inset 0 0 2px #000000;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #808F87;
    border-radius: 10px;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
    background: #393E41;
} */

.user_commemnts{
    display: grid;
    justify-content: center;
    /* align-items: center; */
    width:230px;
    /* height:auto; */
    /* height:70px; */
    min-height: 60px;
    height: auto;
    /* background: #575b5e; */
    border-radius: 5px;
    margin: 10px 0px 0px;
    padding-bottom: 5px;
}

.user_comment_inner {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width:240px;
    /* height:60px; */
    /* background: #475a65; */
}

.inner_img_frame {
    /* display: flex;
    align-items: flex-start; */
    display: flex;
    justify-content: center;
    width:40px;
    height: 40px;
    padding: 0px 2px 2px;
    /* border-radius: 100%;
    border: #393E41 1px solid; */
}

.inner_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    border-radius: 100%;
}

.inner_img_no_photo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    width: 15px;
    border-radius: 100px;
    background: rgb(57 62 65 / 90%);
    color: #dcdcdc;
    font-size: 20px;
    font-weight: normal;
    padding: 10px;
}

.inner_text {
    width:230px;
    /* height: 50px; */
    /* background: rgb(128, 141, 142, 0.9); */
    border-radius: 5px;
    padding: 8px 5px 8px;
    border: 2px solid #000;
    margin-left: 5px;
}

.show_review_user_time {
    font-size: 11px;
    font-weight: normal;
    display: flex;
    justify-content: flex-start;
    color: #393E41;
    height: 11px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.edit_review_user_inner {
    font-size: 13px;
    font-weight: normal;
    margin-top: 4px;
    border-radius: 5px;
    /* height: auto; */
    /* height: 20px; */
    /* overflow-y:visible;
    overflow: auto; */
    padding: 2px;
    line-height:16px;
    /* display: flex;
    justify-content: flex-start; */
    /* margin-top: 4px; */
    /* resize:none; */
    border: none;
    background:rgb(220, 220, 220, 0.6);
    /* readonly:readonly; */
}

.edit_review_user_inner:focus {
    border: none;
    outline: none;
}

.inner_edit {
    display: flex;
    justify-content: flex-start;
}

.inner_confirm {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    background: #dcdcdc;
    color: #393E41;
    font-weight: bold;
    width: 30px;
    height: 20px;
    border-radius: 5px;
    margin-top: 2px;
    margin-left: 5px;
}

.inner_confirm:hover {
    cursor: pointer;
    background: #393E41;
    color: #dcdcdc;
}

.show_review_user_inner{
    font-size: 13px;
    font-weight: normal;
    /* display: flex;
    justify-content: flex-start; */
    margin-top: 4px;
    line-height:16px;
    padding: 2px;
    /* overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  */
}

.show_full_mes {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.show_full_mes_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width:24px;
    height:24px;
    border-radius: 100%;
    /* border: #000 2px solid;
    background-color: #dcdcdc; */
    margin-left: 5px;
    margin-top: 2px;
}

.show_full_mes_img:nth-child(1):hover {
    background-color: #dcdcdc;
    padding: 3.5px;
    cursor: pointer;
}

.show_full_mes_img:hover {
    background-color: #dcdcdc;
    padding: 2px;
    cursor: pointer;
}

.full_mes_img {
    width:22px;
    height:22px;
}

.no_comments_yet {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.no_comments_yet_inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete_hint {
    display: flex;
    align-items: center;
    font-size: 10px;
}

/* background: rgb(128, 141, 142, 0.9);
background: rgb(58, 68, 69, 0.3); */


@media screen and  (min-width:931px) and (max-width: 1050px) {

    .more_comments_board {
        left: 12px;
        width: 222px;
    }

    .user_commemnts{
        width:210px;
    }
    
    .user_comment_inner {
        width:200px;
    }
}

@media screen and (max-width: 780px) {

    .more_comments_board {
        left: 12px;
        width: 222px;
    }

    .user_commemnts{
        width:210px;
    }
    
    .user_comment_inner {
        width:200px;
    }

}