/* .bottom_function {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top:530px;
    left:530px;
    width: 200px;
    height: 46px;
    border-radius: 5px;
    background:rgb(162, 156, 155, 0.8);
    color: #fff;
} */
