# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
7f0c9093f3a5b7ad1f190d6100e98d96.png
5128b34c15dcfcbb28decb26ff53a9f2.png
59f61236e6435f469eab4a3649f90431.png
67efcfb446426a95666b018bd0f98bab.png
a45d36350e493854e2965ac0ae8975ae.png
ba4aad38194f909b96eda792df1b0507.png
/package-lock.json
.env
/env
/src/source/oriSource.json
*.json
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
