.loading_effect {
    display: flex;
    justify-content: center;
    position:relative;
    top:-320px;
}

.loading_effect_inner {
    display:flex;
    font-size: 40px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}