.infoBoardCloseBotton{
    display: flex;
    justify-content: flex-end;
}

.infoBoardPlaceInfo_for_rwd {
    display: none;
}

.infoBoardFrame {
    position: absolute;
    /* top:20;
    left:20;
    bottom: 20; */
    background-color: rgb(162, 156, 155, 0.8);
    /* background-color: rgba(244, 61, 28, 0.879); */
    /* z-index: 200; */
    height:480px;
    width:300px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 5px;
    overflow: hidden;
}

.infoBoardTop {
    height:400px;
    margin-top: 0px;
    /* background-color: aquamarine; */
    border-radius: 5px;
    display: grid;
    justify-items: center;
    align-items: center;
}

.infoBoardLoading {
    border-radius: 5px;
    height:150px;
    width: 250px;
    margin-top: 5px;
    background-color: rgb(138, 138, 138);
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: #000000 ; */
    box-shadow: inset 0 1px 1px rgba(46, 46, 46, 0.075),
      0 0 8px rgba(49, 49, 49, 0.6);
}

.infoBoardPic {
    position: absolute;
    border-radius: 5px;
    height:150px;
    width: 250px;
    /* margin-top: 7px; */
    /* background-color: rgb(138, 138, 138); */
    display: flex;
    justify-content: center;
    align-items: center;
    border: #000000 ;
    box-shadow: inset 0 1px 1px rgba(46, 46, 46, 0.075),
      0 0 8px rgba(49, 49, 49, 0.6);
}

.infoBoardSrc {
    border-radius: 5px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit:cover;
    /* box-sizing: border-box; */
    /* -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; */
    /* box-sizing: border-box; */
    /* border: #ffffff 2px solid; */
}

.infoBoardPlaceInfo {
    width: 250px;
    height: 154px;
    border-radius: 5px;
    background-color: rgb(138, 138, 138);
    margin-top: 20px;
}

.placeInfoInner {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    /* display: flex;
    align-items: center; */
    margin-top:10px;
    font-size: 14px;
    height:14px;
    padding-left: 5px;
    /* background-color: rgb(226, 43, 195); */
}

.placeInfoInner_sweet {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top:10px;
    font-size: 14px;
    height:14px;
    padding-left: 5px;
    padding-bottom: 10px;
}

.placeInfoInner:nth-child(1) {
    font-size:16px;
    height:16px;
}

/* .placeInfoInner:last-child(1) {
    font-size:14px;
} */

/* 
.placeAddBookmark {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    left:60px;
    top:-14px;
    width:40px;
    height:40px;
} */

.infoBoardFunctional{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    /* background-color: darkseagreen; */
    border-radius: 5px;
    /* margin-top: 10px; */
}

/* .functional-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height:30px;
    width: 30px;
    background-color: darkred;
    border-radius: 5px;

} */

/* .infoBoardBottom {
    height:180px;
    background-color: darkslateblue;
    border-radius: 5px;
    display: grid;
    justify-content: center;
    overflow: scroll;
} */

/* .infoBoardCommonts {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    height:60px;
    width: 250px;
    background: lightgray;
    margin-bottom: 5px;
    border-radius: 5px;
} */

/* .open_comments {
    width: 250px;
    border-radius: 5px;
    background-color: rgb(138, 138, 138);
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    height:20px;
} */

/* .bookmarks_img {
    width:40px;
    height:40px;
}

.bookmarks_text {
    position: absolute;
    width: 60px;
    font-size: 12px;
    height: 16px;
    padding: 3px;
    right: -12.5px;
    top: -24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    border-radius: 5px;
} */

@media screen and  (min-width:931px) and (max-width: 1050px) {

    .infoBoardFrame {
        width:250px;
    }

    .infoBoardLoading {
        width:220px;
    }

    .infoBoardPic {
        width:220px;
    }

    .infoBoardPlaceInfo {
        width:220px;
    }

    .placeInfoInner {
        font-size: 12px;
        height: 12px;
    }

    .placeInfoInner:nth-child(1) {
        font-size:14px;
    }

    .placeInfoInner_sweet {
        font-size: 12px;
    }

}

/* @media screen and (min-width:721px) and (max-width: 930px) {

    .infoBoardFrame {
        width:3090px;
    }

    .infoBoardPic {
        width:250px;
    }

    .infoBoardPic {
        width:250px;
    }

} */

/* @media screen and (max-width: 720px) {

    .infoBoardFrame {
        width:250px;
    }

    .infoBoardLoading {
        width:220px;
    }

    .infoBoardPic {
        width:220px;
    }
} */

@media screen and (max-width: 780px) {

    .infoBoardFrame {
        width:250px;
    }

    .infoBoardLoading {
        width:220px;
    }

    .infoBoardPic {
        width:220px;
    }

    .infoBoardPlaceInfo {
        width:220px;
    }

    .placeInfoInner {
        font-size: 12px;
        height:12px;
    }

    .placeInfoInner:nth-child(1) {
        font-size:14px;
    }

    .placeInfoInner_sweet {
        font-size: 12px;
    }
}

@media screen and (max-width: 620px) {

    .infoBoardPlaceInfo_for_rwd {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        background: rgb(138, 138, 138);
        height: 26px;
        width: 26px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        position: relative;
        top: -10px;
    }

    .for_rwd_img {
        background-color: rgb(57, 62, 65, 0.8);
        border-radius: 5px;
        height: 20px;
        width: 20px;
    }

    .for_rwd_img:hover {
        cursor: pointer;
        background-color: #000000;
    }

    .infoBoardFrame {
        top:100px;
        margin-left: 10px;
    }

}