
.menu-login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-signIn-or-out {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#393E41;
    color:#fff;
    border-radius: 5px;
    font-size:13px;
    font-weight: bold;
    height: 30px;
    width:150px;
}

.menu-signIn-or-out:hover {
    cursor:pointer;
    font-size:14px;
}

.menu-login_name {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(212, 123, 7); */
    margin-left: 20px;
    width: auto;
    padding: 0px 10px 0px;
    font-size: 14px;
}

.menu-login_photo {
    /* background-color: fuchsia; */
    height:40px;
    width: 40px;
    border-radius: 100px;
}

.menu-signout {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #393E41;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    height: 34px;
    width: 90px;
}

.menu-signout:hover {
    cursor: pointer;
    font-size: 17px;
}
