.alert_box {
    position: sticky;
    top:180px;
    margin: 0 auto;
    z-index: 300;
    width:250px;
    height:150px;
    font-size: 16px;
    font-weight: bold;
    background-color:blueviolet;
    border: #000000 ;
    box-shadow: inset 0 1px 1px rgba(46, 46, 46, 0.075),
        0 0 8px rgba(49, 49, 49, 0.6);
}