.header-outside-frame {
    /* background-color: rgb(57, 62, 65); */
    /* background-color: #A29C9B; */
    /* background-color: #5D737E; */
    /* background-color: #F0FFF1; */
    background-color: #9F9F92;
}

.header {
    margin: 0 auto;
    max-width: 1200px;
    display:flex;
    height: 70px;
    color:#011627;
}

.title {
    display: flex;
    flex:none;
    align-items: center;
    padding-left: 20px;
    width:200px;
    font-size: 32px;
    font-weight: bold;
}

.menu {
    display: flex;
    flex:auto;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    width:200px;
    font-size:16px;
}

.menu_login_botton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#393E41;
    color:#fff;
    border-radius: 5px;
    font-size:16px;
    font-weight: bold;
    height: 34px;
    width:90px;
}

.menu_login_botton:hover{
    cursor:pointer;
    font-size:17px;
}

/* ============================================ */

.E_and_P_login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.E_and_P_logout {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #393E41;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    height: 34px;
    width: 90px;
}

.E_and_P_logout:hover {
    cursor: pointer;
    font-size: 17px;
}

.E_and_P_login_name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    width: auto;
    padding: 0px 10px 0px;
    font-size: 14px;
}

.E_and_P_frame {
    display: flex;
    justify-content: center;
    align-items: center;
}

.E_and_P_no_photo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26px;
    width: 26px;
    border-radius: 100px;
    background: rgb(57 62 65 / 60%);
    color: #dcdcdc;
    font-size: 24px;
    padding: 10px;
}

.E_and_P_login_photo {
    height:40px;
    width: 40px;
    border-radius: 100px;
}

@media screen and (max-width: 930px) {
    
    .title {
        width: 176px;
        font-size: 30px;
    }
}

@media screen and (max-width: 620px) {
    
    .header-outside-frame {
        background-color: none;
        width:100%;
    }

    .header {
        background-color: rgb(159 159 146 / 80%);
        margin: 0 auto;
        /* max-width: 1200px; */
        display: flex;
        height: 96px;
        color: #011627;
        display: block;
        width:130px;
        position: absolute;
        top: 10px;
        z-index: 299;
        left: 10px;
        border-radius: 5px;
    }

    .title {
        width: 100px;
        font-size: 24px;
        /* margin-left: 10px; */
        display: flex;
        align-items: center;
        height: 96px;
    }

    .menu {
        position: absolute;
        top: -10px;
        left: 120px;
        padding: 4px 10px 4px 0px;
        width:150px;
        border-radius: 5px;
        z-index: 300;
        background-color: #9F9F92;
    }

    .menu-login {
        display: block;
        width: 300px;
    }

    .E_and_P_login {
        height: 38px;
    }

    .menu_login_botton {
        position: absolute;
        top: 0px;
        left: 70px;
        height: 28px;
        font-size: 14px;
        /* width:80px; */
    }    
    
    .menu_login_botton:hover {
        cursor:pointer;
        font-size:15px;
    }

    .menu_login_botton_height {
        height: 38px;
        width:160px;
        background: #9F9F92;;
    }
    /* .menu-login_name {
        display: none;
    }

    .E_and_P_login_name {
        display: none;
    } */

}

/* @media screen and (max-width: 420px) {

    .header {
        width: 280px;
    }

    .menu_login_botton {
        position: absolute;
        top: 0px;
        left: 56px;
    } 

    .menu {
        left: 100px;
    }
} */