.bottom_function-icon{ 
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width:270px;
    justify-content: center;
    align-items: center; */
    /* grid-auto-flow: column; */
    /* background-color: rgb(0, 76, 82); */
    /* margin:10px 0px 10px; */
    height:40px;
    /* background-color: #393E41;
    color: #fff; */
}

.bottom_function-back-to-current {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom_map-back-to-current {
    width:30px;
    height:30px;
}

.bottom_map-back-to-current:hover{
    width:33px;
    height:33px;
    /* background-color: rgb(231, 185, 19); */
}

.bottom_function-icon-text {
    margin-left:10px;
}
